<html lang="en" ng-app="jswalk">
<head>
    <title>Markov walks with Ragas</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://tonejs.github.io/CDN/latest/Tone.min.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <table id="table" ng-controller="tableController">
        <caption>Sargam</caption>
        <thead>
            <th ng-repeat="heading in table.headings">{{heading}}</th>
        </thead>
        <tfoot>
            <th ng-repeat="heading in table.headings">
                {{heading}}
            </th>
        </tfoot>
        <tbody>
            <tr ng-repeat="column in table.columns">
                <th><input type="button" value="{{column.heading + ' ->'}}" ng-click="play(column.heading)"></input></th>
                <td ng-repeat="row in column.rows track by $index"><input type="number" min="0" step="0.1" ng-model="column.rows[$index]"></input></td>
            </tr>
        </tbody>
    </table>
</html>
